@import "../../variables";

.levels-area {
  padding: 5px;

  .levelTable {
    > tbody > tr > td {
      padding-bottom: 10px;
      vertical-align: top;

      &:first-child {
        font-size: $fontSizeLarge;
        line-height: $elementHeight;
        text-align: center;
      }
    }
    .hdInput {
      width: 50px;
    }
    .bonusesArea {
      border: 1px solid black;
      padding: 10px;
      margin-left: 10px;
    }
    .removeLevelButton {
      margin-left: 5px;
      line-height: $elementHeight;
    }
  }
}

.stat-area {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    margin: 5px;
  }
}

.race-area {
  padding: 0 5px 5px;

  .race-charmod {
    margin-top: 5px;
  }
}
