<template>
  <require from="../../../data/extra/enums"></require>

  <div class="newItem-area">
    <input type="text" placeholder="Name" value.bind="name"/>
    <div class="newItem-skills">
      <ul>
        <li repeat.for="skill of additionalSkillProfiencies">
          ${skill}
        </li>
      </ul>
      <select value.bind="selectedSkillProfiency">
        <option repeat.for="skillEnum of SkillEnums" model.bind="skillEnum">
          ${skillEnum}
        </option>
      </select>
      <button click.delegate="addSkillProfiency()">Add skill</button>
    </div>
    <div class="newItem-profiencies">
      <ul>
        <li repeat.for="profiency of additionalOtherProfiencies">
          ${profiency.name}
        </li>
      </ul>
      <input type="text" placeholder="New profiency name" value.bind="newOtherProfiencyName" />
      <button click.delegate="addOtherProfiency()">Add profiency</button>
    </div>
    <div class="newItem-traits">
      <ul>
        <li repeat.for="trait of additionalTraits">
          ${trait.name}
        </li>
      </ul>
      <input type="text" placeholder="New trait name" value.bind="newTraitName" />
      <button click.delegate="addTrait()">Add trait</button>
    </div>
    <button class="newItem-createBtn" click.delegate="createItem()">Create item</button>
  </div>
</template>
