<template>
  <require from="./character.css"></require>
  <require from="./skill/skill"></require>
  <require from="../shared/stat/stat"></require>
  <require from="../../data/extra/enums"></require>
  <div class="contentArea">
    <div class="character">
      <div class="attribute-area">
        <table class="attribute-table">
          <tr class="attribute" repeat.for="stat of data.character.stats">
            <td>
              <stat model.bind="stat.key"></stat>
            </td>
            <td>
              <div class="skills">
                <skill class="skill" repeat.for="skillEnum of SkillEnums | select:stat.key" model.bind="skillEnum"></skill>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="features-area">
        <div class="features">
          <div class="profiency-area">
            <h3 class="profiency-header">Profiencies</h3>
            <div class="profiency-list">
              <ul>
                <li class="flex-container profiency" repeat.for="prof of data.character.profiencies">
                  <span class="flex-normal">${prof.name}</span>
                  <span class="flex-fixed type-placeholder">CHAR</span>
                </li>
                <li class="flex-container profiency" repeat.for="prof of data.inventory.profiencies">
                  <span class="flex-normal">${prof.name}</span>
                  <span class="flex-fixed type-placeholder">ITEM</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="traits-area">
            <h3 class="traits-header">Features and Traits</h3>
            <div class="traits-list">
              <ul>
                <li class="flex-container trait" repeat.for="trait of data.character.traits">
                  <span class="flex-normal">${trait.name}</span>
                  <span class="flex-fixed type-placeholder">CHAR</span>
                </li>
                <li class="flex-container trait" repeat.for="trait of data.inventory.traits">
                  <span class="flex-normal">${trait.name}</span>
                  <span class="flex-fixed type-placeholder">ITEM</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
