@import "../../variables";
@import "../functionsArea";

.character {
  display: flex;
  flex-flow: wrap;
  height: calc(100% - 90px);

  .editbutton {
    position: fixed;
    top: 50px;
    right: 0;
    margin: 10px;
  }
  .attribute-area {
    flex: 1 60%;
    padding: 0 10px;
  }
  .attribute-table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  .attribute {
    margin-top: 10px;

    .skills {
      display: flex;
      max-height: 60px;
      flex-direction: column;
      rows: 3;
      flex-wrap: wrap;

      .skill {
        flex: 0 auto;
        padding: 0 10px;
        margin: auto 0 0;

        .skill-header {
          display: inline-block;
          font-size: $fontSizeSmall;
          text-transform: uppercase;
          vertical-align: middle;
          line-height: $lineHeightLarge;
        }
        .skill-value {
          width: 20px;
          display: inline-block;
          font-size: $fontSizeLarge;
          margin-left: 5px;
          vertical-align: middle;

          &.proficient {
            font-weight: bold;
          }
        }
        .skill-edit {
          width: 20px;
          margin-left: 5px;
          display: inline-block;
        }
      }
    }
  }
  .features-area {
    flex: 1 40%;
    padding: 0 10px 10px;
    min-width: 185px;

    .features {
      display: flex;
      margin-bottom: 10px;
      flex-direction: column;

      > * {
        flex: 1 auto;
      }
    }
  }
  .profiency-area {
    padding: 0;

    .profiency-header {
      margin: 10px 0;
    }
    .profiency-list {
      border: 1px solid black;
      padding: 10px;
    }
  }
  .traits-area {
    padding: 0;

    .traits-header {
      margin: 10px 0;
    }
    .traits-list {
      border: 1px solid black;
      padding: 10px;
    }
  }
  .profiency-area,
  .traits-area {
    .add-button {
      margin-left: 5px;
    }
    .trait,
    .profiency {
      > .type-placeholder {
        display: none;
        color: $placeholderColor;
        font-size: $fontSizeSmall;
        line-height: $lineHeight;
      }
      &:hover > .type-placeholder {
        display: inline-block;
      }
    }
  }
}
