<template>
  <require from="./character.css"></require>
  <require from="./skill/skill"></require>
  <require from="./stat/stat"></require>
  <require from="../../data/extra/enums"></require>
  <require from="../../resources/value-converters/select"></require>

  <div class="attribute-area">
    <table class="attribute-table">
      <tr class="attribute" repeat.for="[statKey, statValue] of data.character.stats">
        <td>
          <stat model.bind="[statKey, statValue]"></stat>
        </td>
        <td>
          <div class="skills">
            <!--skill repeat.for="skillRow of data.character.skills | select:statKey" model.bind="skillRow"></skill-->
            <skill repeat.for="skillEnum of SkillEnums | select:statKey" model.bind="skillEnum"></skill>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="features">
    <div class="profiency-area">
      <h3 class="profiency-header">Profiencies</h3>
      <div class="profiency-list">
        <ul>
          <li repeat.for="prof of data.character.profiencies">
            ${prof.name}
          </li>
          <li repeat.for="prof of data.inventory.profiencies">
            ${prof.name}
          </li>
        </ul>
      </div>
    </div>

    <div class="traits-area">
      <h3 class="traits-header">Features and Traits</h3>
      <div class="traits-list">
        <ul>
          <li repeat.for="trait of data.character.traits">
            ${trait.name}
          </li>
          <li repeat.for="trait of data.inventory.traits">
            ${trait.name}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
