@import "../../variables";
@import "../functionsArea";

.itemArea {
  padding: 10px 10px 0 10px;

  .itemTable {
    width: 100%;

    tr.secondTable {
      > th {
        padding-top: 10px;
      }
    }
    td.buttonArea {
      width: 1px;
      text-align: right;
      white-space: nowrap;
    }
    th {
      text-align: left;
      padding-right: 10px;
    }
    .itemName {
      padding-right: 10px;
    }
  }
}
