<template>
  <require from="./inventory.css"></require>
  <require from="./item/item"></require>
  <require from="./newItem/newItem"></require>

  <h3>Equipped items</h3>
  <ul>
    <li repeat.for="item of data.inventory.equipped">
      <item model.bind="item"></item>
    </li>
  </ul>
  <h3>Backpack</h3>
  <ul>
    <li repeat.for="item of data.inventory.backpack">
      <item model.bind="item"></item>
    </li>
  </ul>
  <button class="btn-newItem" click.delegate="startCreatingNewItem()">Create a new item</button>
  <new-item state.two-way="creatingNewItem"></new-item>
</template>
