<template>
  <require from="./inventory.css"></require>
  <require from="./itemPopup/itemPopup"></require>

  <div class="contentArea">
    <div class="itemArea">
      <table class="itemTable">
        <tr>
          <th>
            Equipped
          </th>
          <th>
            Attuned
          </th>
          <th>
            Quantity
          </th>
        </tr>
        <tr repeat.for="item of data.inventory.equipped">
          <td>
            <span class="itemName">${item.name}</span>
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td class="buttonArea">
            <div>
              <button click.delegate="unequip(item)">Unequip</button>
              <button click.delegate="editItem(item)">Edit</button>
              <button click.delegate="deleteItem(item)">Discard</button>
            </div>
          </td>
        </tr>
        <tr class="secondTable">
          <th>
            Backpack
          </th>
          <th>
            Attunable
          </th>
          <th>
            Quantity
          </th>
        </tr>
        <tr repeat.for="item of data.inventory.backpack">
          <td>
            <span class="itemName">${item.name}</span>
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td class="buttonArea">
            <div>
              <button show.bind="item.equippable" click.delegate="equip(item)">Equip</button>
              <button click.delegate="editItem(item)">Edit</button>
              <button click.delegate="deleteItem(item)">Discard</button>
            </div>
          </td>
        </li>
      </ul>
    </div>
    <div class="functionsArea">
      <button class="functionButton" click.delegate="startCreatingNewItem()">Create a new item</button>
    </div>
  </div>
  <item-popup show.bind="showItemPopup" save-item.call="createItem(item)" cancel-item.call="cancelCreatingNewItem()"></item-popup>
  <item-popup show.bind="showEditPopup" model.bind="itemToEdit" cancel-item.call="cancelEditItem()"></item-popup>
</template>
