<template>
  <require from="./charmod.css"></require>
  <require from="./skillSelect/skillSelect"></require>
  <require from="../../../data/extra/enums"></require>
  <require from="../../../resources/value-converters/translate"></require>

  <table class="bonusesTable">
    <tr repeat.for="skillProf of model.additionalSkillProfiencies">
      <td>
        Skill profiency
      </td>
      <td>
        <skill-select current-skill.bind="skillProf" list.bind="model.additionalSkillProfiencies"></skill-select>
      </td>
      <td>
        <button class="fa-button red removeButton" click.delegate="removeSkill(skillProf)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
      </td>
    </tr>
    <tr repeat.for="otherProf of model.additionalOtherProfiencies">
      <td>
        Other profiency
      </td>
      <td>
        <input type="text" class="inputElement" value.bind="otherProf.name" />
      </td>
    </tr>
    <tr repeat.for="trait of model.additionalTraits">
      <td>
        Trait
      </td>
      <td>
        <input type="text" class="inputElement" value.bind="trait.name" />
      </td>
    </tr>
    <tr>
      <td>
        <select ref="featureTypeSelect">
          <option repeat.for="charmod of CharModEnums" value.bind="charmod">${charmod | translate:data.translations:'charmod'}</option>
        </select>
      </td>
      <td>
        <button class="addButton" click.delegate="addNewFeature(featureTypeSelect.value)">Add</button>
      </td>
    </tr>
  </table>
</template>
