<template>
  <require from="./itemPopup.css"></require>
  <require from="../../shared/charmod/charmod"></require>
  <require from="../../../data/extra/enums"></require>

  <div class="newItemArea">
    <input class="itemName" type="text" placeholder="Name" value.bind="innerModel.name"/>
    <div class="typeSelectArea">
      <div class="typeTabs">
        <div>
          <input type="radio" name="typeradio" value="ItemType.Item" checked.bind="innerModel.itemType" id="itemradio" ref="itemradio"/><label for="itemradio">Item</label>
        </div>
        <div>
          <input type="radio" name="typeradio" value="ItemType.Armor" checked.bind="innerModel.itemType" id="armorradio" ref="armorradio"/><label for="armorradio">Armor</label>
        </div>
        <div>
          <input type="radio" name="typeradio" value="ItemType.Weapon" checked.bind="innerModel.itemType" id="weaponradio" ref="weaponradio"/><label for="weaponradio">Weapon</label>
        </div>
      </div>
      <div class="itemContentArea">
        <!-- ITEM SPECIFIC VARIABLES -->
        <div show.bind="itemradio.checked" class="flex-container">
          <div class="textInput flex-center">
            <label>Quantity</label>
            <input type="number" value.bind="innerModel.quantity" placeholder="quantity" />
          </div>
          <div class="flex-center itemEquippable">
            <label><input type="checkbox" class="labelCheckBox" checked.bind="innerModel.equippable" />Equippable</label>
          </div>
        </div>

        <!-- ARMOR SPECIFIC VARIABLES -->
        <div show.bind="armorradio.checked" class="flex-container">
          <div class="textInput flex-center">
            <label>Base AC</label>
            <input type="number" value.bind="innerModel.baseAC" placeholder="base AC" />
          </div>
          <div class="textInput flex-center">
            <label>Max Dex bonus</label>
            <input type="number" value.bind="innerModel.maxDexBonus" placeholder="Max Dex bonus" />
          </div>
        </div>

        <!-- WEAPON SPECIFIC VARIABLES -->
        <div show.bind="weaponradio.checked" class="flex-container">
          <div class="textInput flex-center">
            <label>Damage</label>
            <input type="text" value.bind="innerModel.damage" placeholder="1d8" />
          </div>
          <div class="textInput flex-center">
            <label>Type</label>
            <input type="text" value.bind="innerModel.damageType" placeholder="slashing" />
          </div>
        </div>
      </div>
    </div>
    <div class="flexArea">
      <!-- ATTUNEMENT -->
      <div class="itemContentArea">
        <label><input type="checkbox" class="labelCheckBox" checked.bind="innerModel.requiresAttunement" />Requires attunement</label>
      </div>
      <div class="charmodeArea">
        <charmod model.bind="innerModel"></charmod>
      </div>
    </div>
    <div class="buttonArea">
      <button class="createButton" click.delegate="reset()">Cancel</button>
      <button class="createButton" disabled.bind="!name" click.delegate="createItemInternal()">Create</button>
    </div>
  </div>
</template>
