@import "../variables";

.contentArea {
  display: flex;
  flex-direction: column;
  height: 100%;

  > *:not(.functionsArea) {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  .functionsArea {
    flex: 0 40px;
    display: flex;
    flex-direction: row-reverse;
    height: $areaSize_functions;
    background: $areaBackgroundColor;
    border-top: 1px solid $areaBorderColor;

    .functionButton {
      flex: 0 auto;
      margin: auto 10px;
    }
  }
}
