body {
  overflow: hidden;
  font-family: 'Roboto Condensed';
  color: #333;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  letter-spacing: 0;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  letter-spacing: 0;
  font-weight: normal;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background: #EEEEEE;
  border-right: 1px solid #979797;
}
  .navbar .navbar-placeholder {
    flex: 0 50px;
    border-bottom: 1px solid #979797;
  }
  .navbar .navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    flex: 0 50px;
    padding: 0 5px;
    border-bottom: 1px solid #979797;
  }
  .navbar .navbar-item:hover {
    background: #999;
  }
  .navbar .navbar-item.active {
    text-decoration: underline;
  }

.generalinfo {
  position: fixed;
  top: 0;
  left: 50px;
  line-height: 50px;
  width: calc(100vw - 50px);
  height: 50px;
  border-bottom: 1px solid #979797;
  padding-left: 10px;
}

.content {
  height: calc(100vh - 50px);
  width: calc(100vw - 50px);
  overflow: auto;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}

.fa-button {
  background: none;
  border: none;
  font-size: 13px;
  padding: 0;
  margin: 0;
  height: auto;
  cursor: pointer;
}
  .fa-button.red {
    color: red;
  }
  .fa-button.blue {
    color: dodgerblue;
  }
  .fa-button > i {
    line-height: 18px;
  }

button {
  border-radius: 0;
  height: 20px;
  background: lightblue;
  border: 1px solid #888;
}

input[type='text'] {
  min-width: 0;
}

.flex-container {
  display: flex;
}
.flex-container > * {
  flex: 1 auto;
}
  .flex-container.flex-justify-center {
    justify-content: center;
  }
  .flex-container .flex-fixed {
    flex: 0 auto;
  }
