@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto Condensed';
  font-size: $fontSize;
  color: $fontColor;
}

button {
  border-radius: 0;
  height: $elementHeight;
  background: $buttonBackgroundColor;
  border: 1px solid $buttonBorderColor;
  cursor: pointer;
}

select {
  height: $elementHeight;
}

input[type="text"],
input[type="number"] {
  height: $elementHeight;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: $areaSize_functions;
  height: 100vh;
  background: $areaBackgroundColor;
  border-right: 1px solid $areaBorderColor;

  .navbar-placeholder {
    flex: 0 $areaSize_functions;
    border-bottom: 1px solid $areaBorderColor;
  }
  .navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    flex: 0 $areaSize_functions;
    padding: 0 5px;
    border-bottom: 1px solid $areaBorderColor;

    &:hover {
      background: $areaHighlightColor;
    }
    &.active {
      text-decoration: underline;
    }
  }
}

.generalinfo {
  position: fixed;
  top: 0;
  left: $areaSize_functions;
  line-height: $areaSize_functions;
  width: calc(100vw - #{$areaSize_functions});
  height: $areaSize_functions;
  border-bottom: 1px solid $areaBorderColor;
  padding-left: 10px;

  .saveAndLoadButtons {
    position:fixed;
    top:0;
    right:0;
    margin:0 10px;
  }
}

.content {
  height: calc(100vh - #{$areaSize_functions});
  width: calc(100vw - #{$areaSize_functions});
  overflow: auto;
  position: relative;
  margin-left: $areaSize_functions;
  margin-top: $areaSize_functions;
}

// ******
// Generic classes
// ******

.fa-button {
  background: none;
  border: none;
  font-size: 13px;
  padding: 0;
  margin: 0;
  height: auto;
  cursor: pointer;
  height: $lineHeight;

  &.red {
    color: red;
  }
  &.blue {
    color: dodgerblue;
  }
}

.flex-container {
  display: flex;

  &.flex-justify-center {
    justify-content: center;
  }
  .flex-center {
    text-align: center;
  }
  > * {
    flex: 1 auto;
  }
  .flex-fixed {
    flex: 0 auto;
  }
}
