$areaBorderColor: #979797;
$areaBackgroundColor: #eee;
$areaHighlightColor: #ddd;
$buttonBackgroundColor: dodgerblue;
$buttonBorderColor: #333;
$fontColor: #333;
$shadowColor: #aaa;
$placeholderColor: #aaa;

$modalBoxShadow: 0 2px 3px $shadowColor;

$elementHeight: 21px;

$areaSize_functions: 50px;

$fontSize: 14px;
$fontSizeGargantuan: $fontSize + 10;
$fontSizeHuge: $fontSize + 6;
$fontSizeLarge: $fontSize + 2;
$fontSizeMedium: $fontSize - 2;
$fontSizeSmall: $fontSize - 4;
$fontSizeTiny: $fontSize - 5;

$lineHeight: $fontSize + 2;
$lineHeightLarge: $fontSizeLarge + 2;
